@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>    Regular exposure to business stakeholders and executive management, as well as the authority and scope to apply your expertise to many interesting technical problems.
    Candidate must have a strong understanding of UI, cross-browser compatibility, general web functions and standards.
    The position requires constant communication with colleagues.
    Experience in planning and delivering software platforms used across multiple products and organizational units.
    Deep expertise and hands on experience with Web Applications and programming languages such as HTML, CSS, JavaScript, JQuery and API's.
    Deep functional knowledge or hands on design experience with Web Services (REST, SOAP, etc ..) is needed to be successful in this position.
    Strong grasp of security principles and how they apply to E-Commerce applications.
</p>
